<<<<<<< HEAD
<!-- links bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- fin links bootstrap -->
<!--  links font awensome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!-- fin links font awensome -->

<div class="container col-lg-11 bg-light">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #C2E3f4">
            <h4 class="modal-title">Agregar Servicio</h4>
            <%= link_to services_path, method: :get, class: 'btn btn-secondary close' do  %>
                <i class="fas fa-arrow-left"></i>
            <% end %>
            
        </div>
    </div>
    <%= render 'form', service: @service %>
</div>
=======
<h1>New Service</h1>

<%= render 'form', service: @service %>

<%= link_to 'Back', services_path %>
>>>>>>> caa2054b985543f89213def8de93eddb55c0d255
