<!-- links bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- fin links bootstrap -->
<div class="container col-lg-6">
	<form action="/registrar_material" method="post">
	  <div class="form-group">
	    <h2 class="centrado"><label>Dar de alta productos</label></h2>
	    <label>Etiqueta</label>
			<input type="text" class="form-control" 
			placeholder="Nombre del nuevo producto" name="NombreProducto">
		</div>
		
		<div class="form-group">
			<label>Precio de Venta Minimo</label>
			<input type="text" class="form-control" name="PrecioVenta" placeholder="$0">
		</div>

		<div class="form-group">
	    <label>Estado del Producto</label>
	    <select class="form-control" name="EstadoProducto">
	      <option>Compra</option>
	      <option>Venta</option>
	    </select>
		</div>

		<div class="form-group">
			<label>Descripcion</label>
			<input type="text" class="form-control" name="Descripcion" placeholder="Descripcion del producto">
		</div>

		<div class="form-group">
			<label>Naturaleza</label>
			<select class="form-control" name="Naturaleza">
				<option>Materia Prima</option>
				<option>Producto Manufacturado</option>
			</select>
		</div>

		<div class="form-group">
			<label>Peso</label>
			<input type="text" class="form-control" name="Peso" placeholder="Kg">
		</div>

		
		<div class="form-group">
			<label>Longitud</label>
			<input type="text" class="form-control" name="Longitud">
		</div>

		
		<div class="form-group">
			<label>Largo</label>
			<input type="text" class="form-control" name="Largo">
		</div>

		
		<div class="form-group">
			<label>Alto</label>
			<input type="text" class="form-control" name="Alto">
		</div>

		
		<div class="form-group">
			<label>Superficie</label>
			<input type="text" class="form-control" name="Superficie">
		</div>

		
		<div class="form-group">
			<label>Volumen</label>
			<input type="text" class="form-control" name="Volumen">
		</div>

	  <div class="centrado">
	  	<button style="width: 150px" type="submit" class="btn btn-primary">Guardar</button>
	  </div>
	</form>
 </div>
<style type="text/css">
  .centrado{
  text-align: center;
</style>