<!DOCTYPE html>
<html>
  <head>
    <title>DespachoArquitectos</title>
    <%= csrf_meta_tags %>

<<<<<<< HEAD
    
=======

>>>>>>> eea8cf127ab31a54463c1925ba45cc41ce983413
  </head>

  <body>
    <%= yield %>
  </body>
</html>
